@model List<PerfisModel>?

@{
    ViewBag.Title = "Relatório";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@ViewBag.cliente
<h2 class="text-center"> Lista do relatório </h2>
<table class="table">
    <thead>
    <tr>
        <th>
            <strong>Nome do Perfil</strong>
        </th>
        <th>
            <strong>País</strong>
        </th>
        <th>
            <strong>Email</strong>
        </th>
        <th>
            <strong>Preço Hora</strong>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precohora)
            </td>
            
        </tr>
    }
    </tbody>
</table>