@model List<PerfisModel>?

@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Lista dos Perfis</title>
</head>
<body>
<h1 class="text-center">Lista dos talentos</h1>
<a class="btn btn-primary" asp-area="" asp-controller="Perfil" asp-action="CriarPerfilUM">Criar Perfil</a>
<table class="table">

    <thead>
    <tr>
        <th>
            <strong>Nome de Perfil</strong>
        </th>
        <th>
           <strong>País</strong>
        </th>
        <th>
            <strong>Email</strong>
        </th>
        <th>
            <strong>Preço Hora</strong>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePerfil)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precohora)
            </td>

            <td>
                <a asp-action="ListarSkillPerfil2" asp-route-id="@item.IdPerfil">Skills</a>
            </td>

        </tr>
    }
    </tbody>
</table>


</body>
</html>