@model IEnumerable<BusinessLogic.Entities.Utilizador>

@{
    ViewBag.Title = "Index"; 
    Layout = "~/Pages/Shared/_Layout4.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <title>Lista dos utilizadores</title>
</head>
<body>

<p>
    <a class="btn btn-primary" asp-area="" asp-action="Create">Criar Novo Utilizador</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
         
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
     
          
        </tr>
    }
    </tbody>
</table>


</body>
</html>